
// $font-stack:    Helvetica, sans-serif;
$font-stack: Lato, sans-serif;
$primary-dark: #333;
$primary-light: #FFF;
$main-color: #004953;
$highlight-color: #3CB84D;
$disabled-color:  #F1F1F1;
$disabled-icon: #939393;

$img-color: #719ECE;
$debug-color: #FF6961;
$GRASS: #3CB84D;
$ORANGE: #FAAE03;
$GREYBLUE: #719ECE;
$LIGHTGREY: #D3D3D3;
$DARKGREY: #777777;
$GREY: #939393;
$ERROR: #FF6961;
$TRANSPARENT: #F1F1F1CC;
$OFFWHITE: #F6F8FA;

$search-index: 2;