@import '../variables';

.card {
  // align-items: end;
  // background-color: #FF6961;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  display: grid;
  height: 100%;
  margin: 0 0 10px 0;
  max-width: 504px;
  overflow: hidden;
  // padding: 10px 0;
}

.card-illustration{
  grid-area: 2/1;
  margin: 0;
  // min-width: 10px;
  // background-color: $debug-color;
  // padding: 2%;
  height: 100%;
  img {
    max-width: 200px;
    padding: 5px;
    margin: 0;
  }
  .svg {
    display: 'inline-block';
    vertical-align: 'middle';
    fill: $img-color;
  }
}

.illustration-button{
  grid-area: 1 / 1 /span 1/span 2;
  margin: 5px;
  padding: 5px;
  background-color: #FF6961;
}
.card-collection {
  background-color: $GRASS;
  color: $LIGHTGREY;
  float: right;
  margin: -1.5em 1.5%;
  font-size: 2em;
  font-family: Monospace;
  border-radius: 60px;
  padding: 0.5em;
}

.card-title {
  font-family: $font-stack;
  font-size: large;
  color: $main-color;
  margin: 10px 5px;
  font-weight: bold;
  // padding: 20px;
}

.card-item-ids {
  height: 2em;
  margin: 0 3%;
}

.card-ids{
  display: flex;
} 

.left{ float: left; }
.right{ float: right;}

.info-section {
  width: 252px;
  grid-area: 2/2;
  background-color: white;
  margin: 0;
}
