@import '../variables';

.card {
  justify-content: center;
  align-items: center;
  background-color: #fff;
  // width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 10px;
}

.card-illustration{
  background-color: $debug-color;
  img {
    max-width: 100%;
    max-height: 30%;
  }
  .svg {
    display: 'inline-block';
    vertical-align: 'middle';
    fill: $img-color;
  }
}

.card-collection {
  background-color: $GRASS;
  color: $LIGHTGREY;
  float: right;
  margin: -1.5em 3%;
  font-size: 2em;
  font-family: Monospace;
  border-radius: 60px;
  padding: 0.5em;
}

.card-title {
  font-family: $font-stack;
  font-size: large;
  color: $main-color;
  margin: 10px 5px;
  font-weight: bold;
  // padding: 20px;
}

.card-item-ids {
  height: 2em;
  margin: 0 3%;
}

.card-ids{
  display: flex;
} 

.left{ float: left; }
.right{ float: right;}
