@import '../variables';
.controls-bar {
  position: sticky;
  top: 70px;
  padding: 20px 16px;
  background: linear-gradient(var(--theme-ui-colors-muted, $OFFWHITE) 80%, rgba(246,248,250,0));
  z-index: 1;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(287px, 1fr));
  justify-content: center;
  align-items: end;
};

.control-section-page {
  display: inline-flex;
  justify-content: flex-end;
  align-self: center;
  line-height: 1;

  .pages-label {
    padding: 8px;
  }
};