@import "../../variables";

.icon-button {
  background-color: $main-color;
  border-color: $main-color;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  color: $primary-light;
  display: flex;
  transition: transform .3s;
  margin: auto 0;
  &:hover {
    transform: scale(1.09);
    cursor: pointer;
  };
  &:disabled {
    background-color: $disabled-color;
    border-color: $disabled-color;
    color: $disabled-icon;
  };
};